
<table class="table table-striped">
    <thead>
        <th>Imagine</th>
        <th>Rasa</th>
        <th>Descriere</th>
        <th>Hipoalergenic</th>
        <th>Pret</th>
        <th>Actiune</th>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CatsList">
            
            <td>{{dataItem.image}}</td>
            <td>{{dataItem.name}}</td>
            <td>{{dataItem.description}}</td>
            <td>{{dataItem.hypoalergenic}}</td>
            <td>{{dataItem.price}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">Stergere</button>
            </td>

        </tr>
    </tbody>
</table>
