<button class="btn btn-light" (click)="getCategories()">Afisati categoriile</button>
<div class="col-md-6" *ngIf="showCategories==true">
    <table  class="table">
        <thead class="thead-light">
            <tr *ngFor="let category of data">
                
                <th>
                    <button class='btn btn-light'  value="{{category.id}}" #item (click)="service.showBreeds(item.value)" routerLink="./breed-details/{{category.id}}">{{category.name}}</button>
                </th>
             
                
            </tr>
        </thead>
