<form novalidate #form="ngForm">
    <input type='hidden' name='id' [value]='service.formData.id'/>
    <input type='hidden' name='categoryId' [value]=''/>
    <div class='form-group'>
        <label>Denumire</label>
        <input class="form-control form-control-lg" placeholder="Denumire" 
        name="name" #name="ngModel" [(ngModel)]="service.formData.name" required [class.invalid]="name.invalid && name.touched"/>
    </div>
    <div class='form-group'>
        <label>Imagine</label>
        <input type="file" class="form-control form-control-lg file-upload" placeholder="Introduceti imaginea" 
        name="image" #image="ngModel" [(ngModel)]="service.formData.image" required [class.invalid]="image.invalid && image.touched"/>
    </div>
    <div class='form-group'>
        <label>Descrire</label>
        <input class="form-control form-control-lg" placeholder="Descriere" 
        name="description" #description="ngModel" [(ngModel)]="service.formData.description" required [class.invalid]="description.invalid && description.touched"/>
    </div>
    <div class='form-row'>
    <div class='form-group col-md-6'>
        <label>Pretul</label>
        <input class="form-control form-control-lg" placeholder="Pretul" 
        name="price" #price="ngModel" [(ngModel)]="service.formData.price" required [class.invalid]="price.invalid && price.touched"/>
    </div>
    <div class='form-group '>
        <label>Hipoalergenic</label>
        <input type="radio" style="height:5; width: 5;"class="form-control form-control-lg" placeholder="Hipoalergenic" value='true' placeholder="Da"
        name="hypoalergenic" #hypoalergenic="ngModel" [(ngModel)]="service.formData.hypoalergenic" required [class.invalid]="hypoalergenic.invalid && hypoalergenic.touched"/>
        <span>Da</span>
        <input type="radio" class="form-control form-control-lg" placeholder="Hipoalergenic" value='false'placeholder="Nu"
        name="hypoalergenic" #hypoalergenic="ngModel" [(ngModel)]="service.formData.hypoalergenic" required [class.invalid]="hypoalergenic.invalid && hypoalergenic.touched"/>
        <span>Nu</span>

    </div>
    </div>
    <br>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" ng-mouseup="insertRecord(this.form)"  [disabled]="form.invalid">Introduceti rasa</button>
    </div>
    
    
</form>
