<div class="container" >
<div style="font-size: 25px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Formular de introducere rasa</div><br>
<input class="form-control" type="text" placeholder="Denumire" aria-label="denumire"><br><br>
  <input class="form-control" type="text" placeholder="Descriere" aria-label="descriere"><br>

<br>
  <div class="mb-3">
    <label for="formFileSm" class="form-label">Imagine</label><br><br>
    <input class="form-control form-control-sm" id="formFileSm" type="file" placeholder="Imagine">
  </div><br>

  <div class="form-check">
      <label class="form-label">Hipoalergenic</label><br>
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
        Da 
   </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Nu
    </label>
  </div>
  <br>
  <input class="form-control" type="text" placeholder="Pret" aria-label="pret"><br><br>
  <button type="button" class="btn btn-success">Introduceti o rasa noua</button>
  </div>

