
<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button routerLink="cats" class="m-1 btn btn-light btn-outline-success" Button>Cats</button>
        </li>
        <li class="nav-item">
          <button routerLink="dogs" class="m-1 btn btn-light btn-outline-success" Button>Dogs</button>
        </li>
        <li class="nav-item">
          <button routerLink="parrots" class="m-1 btn btn-light btn-outline-success" Button>Parrots</button>
        </li>
    
      </ul>
    </nav>